.notification {
    position: fixed;
    top: 16px;
    right: 16px;
    padding: 12px 24px;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.notification p i {
    margin-right: 15px;
}

.notification.success {
    background-color: #28a745;
}

.notification.info {
    background-color: var(--purple);
}

.notification.error {
    background-color: var(--danger);
}