<main id="container">
  <div>
    <header>

      <div id="selectContainer">
        <select id="selectYear" [(ngModel)]="selectedYear" name="selectYear" (change)="onChangeSelectYear()">
          <option value="null" selected disabled> Filtrar por ano </option>
          <option value="all"> Todos </option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>

      <button class="add" (click)="openModal()">
        <i class="fas fa-plus"></i> <span>Adicionar</span>
      </button>
      <app-modal *ngIf="isModalOpen" (close)="closeModal()" [title]="'Cadastrar Colaborador'"
        (update)="updateEmployeeList()" (successNotification)="successNotification()"></app-modal>
    </header>

    <h1>Lista de colaboradores</h1>

    <app-employees-list (close)="closeModal()" [employeeList]="employeeList" (update)="updateEmployeeList()"
      (successNotification)="successNotification()"></app-employees-list>

    <app-notification [message]="message" [type]="type" [visible]="notificationVisible"></app-notification>
  </div>
</main>