:root {
    --white: '#FFF';

    --gray-100: #E1E1E6;
    --gray-300: #C4C4CC;
    --gray-400: #8D8D99;
    --gray-500: #7C7C8A;
    --gray-600: #323238;
    --gray-700: #29292E;
    --gray-800: #202024;
    --gray-900: #121214;

    --black: #1E1E1E;

    --purple: #8284FA;
    --purple-dark: #5E60CE;

    --blue: #4ea8de;
    --blue-dark: #1E6F9F;

    --danger: #E25858;
}


:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--purple-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}